<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\index.css">
    <script src="https://kit.fontawesome.com/1364972581.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="header bg-light">
            <%- include('partials/logoTop')%>
     </nav>
     <%- include('partials/header')%>
</div>


<% if(anf && anf.length) { %> 
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-3" 
    id="pdAlert" role="alert">
        <h3 class="text-center">
            <%= anf %> 
        </h3>
        <p id="dismiss-pd" class="text-center dismiss">dismiss</p>
      </div>
    <%  } %>

<div id="container-new" class="col-6 offset-3 mt-3">
    <form action="/unban?genre=" class="search-form">
        <div class="input-group mb-3">
            <button class="search rounded" type="submit" id="button-addon1"><i class="fas fa-search"></i></button>
            <input type="text" class="form-control search-bar" placeholder="search" aria-label="Example text with button addon" name="search" aria-describedby="button-addon1">
          </div>
             <select name="genre" id="genre">
                 <option value="all">genre:</option>
                <option value="pop">pop</option>
                <option value="rock">rock</option>
                <option value="metal">metal</option>
                <option value="rap/hip hop">rap/hip hop</option>
                <option value="jazz">jazz</option>
                <option value="instrumental">instrumental</option>
                <option value="classical">classical</option>
                <option value="funk">funk</option>
                <option value="rnb">rnb</option>
                <option value="blues">blues</option>
                <option value="country">country</option>
                <option value="acoustic">acoustic</option>
                <option value="swing">swing</option>
                <option value="synthwave">synthwave</option>
               </select>
          </div>
    </div>
</form>



    <div id="container-new" class="col-6 offset-3">
<h2 class="text-center mt-3">
    <div class="line-before"></div>
    Artists
    <div class="line-after"></div>
  </h2>
</div>

<div id="container-new" class="col-10 offset-1">
<% for (let Artist of Artists) {%> 

    <% if(Artist.banned === 'true') { %>
        <div class="card mb-2">
            <div class="content">
            <div class="row mb-3">
                <div class="col-md-4">
                    <a href="/artists/<%= Artist.id  %>">
                    <img class="img-fluid thumb p-2" alt="" src="<%= Artist.banner  %>">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">
                            <%= Artist.artName  %>
                        </h3>
            
                        <p class="card-text"><%= Artist.bio  %></p>
            
            
                        <p class="card-text info">
                             Artist genre: <%= Artist.genre  %>
                        </p>
            
                        <form action="/unban/<%= Artist.id %>?_method=PATCH" method="POST">
                        <button class="buy rounded btn-default">unban</button>
                    </form>  
                    </div>
                </div>
            </div>
            </div>
            </div>
                
        <% }else{%> 

<% }%>   
<% }%>  

</div>

</div>
    </div>
<div class="mt-auto">
<%- include('partials/footer')%>   


</div> 
</body>

<script>
    const alert = document.getElementById('pdAlert');
    const dismiss = document.getElementById('dismiss-pd');
    dismiss.onclick = function () {
      if (alert.style.display !== "none") {
        alert.style.display = "none";
      } else {
        alert.style.display = "block";
      }
    };
    
    </script>

</html>


<style>
    a{
    color: #3c3d3c;
    text-decoration: none;
}

a:hover{
    color: #3c3d3c;
 text-decoration: underline #1ca78b 0.3vh;
}

footer.a{
    color: blue;
}

</style>